.item-details {
  border: 1px solid rgb(114, 107, 107);
  color: #000000;
}

.item-details-right {
  background-color: #e0e0e0;
}

.item-details-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

