.item-details-right {
    background-color: #e0e0e0;
    border-radius: 2%;
    text-align: center;
  }
  
.item-details-left {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.item-details-body>.row {
    margin-bottom: 20px;
    border-radius: 2%;
}

.banner {
    margin-bottom: 20px;
    margin-top: 20px;
}

.other-photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.other-photos .col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    max-width: 100px;
    margin-bottom: 20px;
}

.other-photos img {
    width: 100px;
    height: 100px;
    border: 1px slategrey rgb(0, 0, 0);
    border-radius: 2%;
    flex:auto
    
}
  
.main-photo {
    width: 100%; 
    max-width: 500px; 
    height: auto; 
    border-radius: 2%;
} 
